{% load static %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "https://www.khume.co.za/#organization",
      "name": "khume",
      "url": "https://www.khume.co.za/",
      "logo": {
        "@type": "ImageObject",
        "inLanguage": "en-US",
        "@id": "https://www.khume.co.za/#logo",
        "url": "https://www.khume.co.za/static/images/logo/khume_logo@0.25x.png",
        "contentUrl": "https://www.khume.co.za/static/images/logo/khume_logo@0.25x.png",
        "width": 500,
        "height": 500,
        "caption": "khume"
      },
      "description": "Professional web design and development services",
      "sameAs": [
        "https://twitter.com/khume",
        "https://linkedin.com/company/khume"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://www.khume.co.za/#website",
      "url": "https://www.khume.co.za/",
      "name": "khume",
      "description": "Professional web design and development services",
      "publisher": {
        "@id": "https://www.khume.co.za/#organization"
      },
      "inLanguage": "en-US"
    },
    {
      "@type": "Service",
      "name": "Web Design & Development",
      "description": "Custom website design and development services",
      "provider": {
        "@type": "Organization",
        "name": "khume"
      },
      "areaServed": "Worldwide",
      "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "name": "Web Services",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Web Design",
              "description": "Custom website design and development"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "E-commerce Development",
              "description": "Online store development with payment integration"
            }
          }
        ]
      }
    }
  ]
}
</script>